extends layout
block content
  style.
    body {
      background:'../../images/quizback.jpg';
      }
    .answers li {
    list-style: upper-alpha;
    }
    label {
    margin-left: 0.5em;
    cursor: pointer;
    }
    #txt1{
    background-color:yellow;
    float:right;
    margin: 10px 10px 10px 10px;
    padding:10px;
    }
     #hide{
      display: none;
    }
    #hide1{
      
    }
    #results {
    background: #dddada;
    color: 000000;
    padding: 3px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    border: 1px solid gray;
    }
    #results:hover {
    background: #3d91b8;
    color: #ffffff;
    padding: 3px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    border: 1px solid gray;
    }
    #categorylist {
    margin-top: 6px;
    display: none;
    }
    #category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 {
    display: none;
    }
    #closing {
    display: none;
    font-style: italic;
    }
  script.
    var x=0;
    var y=0;
    function startTime(){
      if(y>=10){
        document.getElementById('txt').innerHTML ="0"+x + ":" + y;
      }
      else{
        if(y<10){
          document.getElementById('txt').innerHTML ="0"+x + ":" + "0"+y;
        }
      }
     y=y+1;
     if(y==60){
      x=x+1;
      y=0;
     }
    setTimeout(startTime,1000);
    }
    setTimeout(gradetest, 600000);
    function gradetest() { 
    points=0;
    var total=10;
    var j=0;
    var answ = document.getElementsByClassName("ans");
    console.log(answ[0].innerHTML);
    for( i=1;i<=10;i++){
      var a = document.getElementsByName('q'+i);
      var a1=answ[i-1].innerHTML;
    for(j=0;j<4;j++){
    if(a[j].checked && a[j].value==a1){
      console.log(a[j]);
      points=points+10;
    }
    }
    }
    var classes=document.getElementsByClassName("answers");
    var classes1=document.getElementsByClassName("question");
    for(k=0;k<10;k++){  
    classes[k].style.display='none';
    classes1[k].style.display='none';
    }
    var str='You got '+points+' points';
    document.getElementById("hide1").innerHTML =str;
    
    document.getElementById('txt1').style.display='none';
    document.getElementById('butt').style.display='none';
    }
  body(onload='startTime(0,0)')
    p c
    p x
    #txt1
     h1#txt
    p.question #{ques[0].question}
    ul.answers
     
      input#q1a(type='radio', name='q1', value='a')
      label(for='q1a') #{ques[0].option1}
      br
      input#q1b(type='radio', name='q1', value='b')
      label(for='q1b') #{ques[0].option2}
      br
      input#q1c(type='radio', name='q1', value='c')
      label(for='q1c') #{ques[0].option3}
      br
      input#q1d(type='radio', name='q1', value='d')
      label(for='q1d') #{ques[0].option4}
      br
    p.question #{ques[1].question}
    ul.answers
      input#q2a(type='radio', name='q2', value='a')
      label(for='q2a') #{ques[1].option1}
      br
      input#q2b(type='radio', name='q2', value='b')
      label(for='q2b') #{ques[1].option2}
      br
      input#q2c(type='radio', name='q2', value='c')
      label(for='q2c') #{ques[1].option3}
      br
      input#q2d(type='radio', name='q2', value='d')
      label(for='q2d') #{ques[1].option4}
      br
    p.question #{ques[2].question}
    ul.answers
      input#q3a(type='radio', name='q3', value='a')
      label(for='q3a') #{ques[2].option1}
      br
      input#q3b(type='radio', name='q3', value='b')
      label(for='q3b') #{ques[2].option2}
      br
      input#q3c(type='radio', name='q3', value='c')
      label(for='q3c') #{ques[2].option3}
      br
      input#q3d(type='radio', name='q3', value='d')
      label(for='q3d') #{ques[2].option4}
      br
    p.question #{ques[3].question}
    ul.answers
      input#q4a(type='radio', name='q4', value='a')
      label(for='q4a') #{ques[3].option1}
      br
      input#q4b(type='radio', name='q4', value='b')
      label(for='q4b') #{ques[3].option2}
      br
      input#q4c(type='radio', name='q4', value='c')
      label(for='q4c') #{ques[3].option3}
      br
      input#q4d(type='radio', name='q4', value='d')
      label(for='q4d') #{ques[3].option4}
      br
    p.question #{ques[4].question}
    ul.answers
      input#q5a(type='radio', name='q5', value='a')
      label(for='q5a') #{ques[4].option1}
      br
      input#q5b(type='radio', name='q5', value='b')
      label(for='q5b') #{ques[4].option2}
      br
      input#q5c(type='radio', name='q5', value='c')
      label(for='q5c') #{ques[4].option3}
      br
      input#q5d(type='radio', name='q5', value='d')
      label(for='q5d') #{ques[4].option4}
      br
    p.question #{ques[5].question}
    ul.answers
      input#q6a(type='radio', name='q6', value='a')
      label(for='q6a') #{ques[5].option1}
      br
      input#q6b(type='radio', name='q6', value='b')
      label(for='q6b') #{ques[5].option2}
      br
      input#q6c(type='radio', name='q6', value='c')
      label(for='q6c') #{ques[5].option3}
      br
      input#q6d(type='radio', name='q6', value='d')
      label(for='q6d') #{ques[5].option4}
      br
    p.question #{ques[6].question}
    ul.answers
      input#q7a(type='radio', name='q7', value='a')
      label(for='q7a') #{ques[6].option1}
      br
      input#q7b(type='radio', name='q7', value='b')
      label(for='q7b') #{ques[6].option2}
      br
      input#q7c(type='radio', name='q7', value='c')
      label(for='q7c') #{ques[6].option3}
      br
      input#q7d(type='radio', name='q7', value='d')
      label(for='q7d') #{ques[6].option4}
      br
    p.question #{ques[7].question}
    ul.answers
      input#q8a(type='radio', name='q8', value='a')
      label(for='q8a') #{ques[7].option1}
      br
      input#q8b(type='radio', name='q8', value='b')
      label(for='q8b') #{ques[7].option2}
      br
      input#q8c(type='radio', name='q8', value='c')
      label(for='q8c') #{ques[7].option3}
      br
      input#q8d(type='radio', name='q8', value='d')
      label(for='q8d') #{ques[7].option4}
      br
    p.question #{ques[8].question}
    ul.answers
      input#q9a(type='radio', name='q9', value='a')
      label(for='q9a') #{ques[8].option1}
      br
      input#q9b(type='radio', name='q9', value='b')
      label(for='q9b') #{ques[8].option2}
      br
      input#q9c(type='radio', name='q9', value='c')
      label(for='q9c') #{ques[8].option3}
      br
      input#q9d(type='radio', name='q9', value='d')
      label(for='q9d') #{ques[8].option4}
      br
    p.question #{ques[9].question}
    ul.answers
      input#q10a(type='radio', name='q10', value='a')
      label(for='q10a') #{ques[9].option1}
      br
      input#q10b(type='radio', name='q10', value='b')
      label(for='q10b') #{ques[9].option2}
      br
      input#q10c(type='radio', name='q10', value='c')
      label(for='q10c') #{ques[9].option3}
      br
      input#q10d(type='radio', name='q10', value='d')
      label(for='q10d') #{ques[9].option4}
      br
    br
    button#butt(onclick='gradetest()') Grade me
    h3#hide1
    p#hide.ans #{ques[0].answer}
    p#hide.ans #{ques[1].answer}
    p#hide.ans #{ques[2].answer}
    p#hide.ans #{ques[3].answer}
    p#hide.ans #{ques[4].answer}
    p#hide.ans #{ques[5].answer}
    p#hide.ans #{ques[6].answer}
    p#hide.ans #{ques[7].answer}
    p#hide.ans #{ques[8].answer}
    p#hide.ans #{ques[9].answer}